<div class="w-full h-full flex flex-col justify-center items-center">
    <% if @tags.nil? %>
        <div class="
        flex flex-col
        px-8 pt-6 pb-6
        bg-white rounded-lg shadow-md
        text-black
        w-96 #md:w-1/2
        ">
            <%= form_with url: "/tags", method: :get do |form| %>
                <h2 class="text-2xl font-semibold">
                    Detect Concepts from Images
                </h2>

                <div class="flex flex-col my-4">
                    <%= form.label :shares, "Image URL", class: "
                    text-md text-gray-700 font-semibold mb-2
                    " %>
                    <%= form.text_field :image_url, placeholder: "https://example.com/image.png", required: true, class: "
                    appearance-none
                    shadow border rounded-md
                    w-full py-2 px-3 leading-tight
                    text-gray-700
                    focus:shadow-outline
                    " %>
                </div>

                <div class="mt-8">
                    <%= form.submit "Detect", class: "
                    w-full py-2 px-4
                    text-white font-bold
                    bg-gray-600 hover:bg-gray-700
                    rounded-lg
                    cursor-pointer
                    transition-all duration-200
                    "%>
                </div>
            <% end %>
        </div>
    <% else %>
        <h2 class="text-2xl font-semibold mb-3">
            Image Tagging Results
        </h2>
        <div class="flex flex-row justify-center items-start">
            <div class="
            flex flex-col
            px-8 pt-6 pb-6 mt-5 mr-5
            bg-white rounded-lg shadow-md
            text-black
            w-96 #md:w-1/2
            ">
                <div>
                    <%= image_tag @url, class: "rounded-md w-full" %>
                </div>
            </div>
            <div class="
            flex flex-col
            px-8 pt-6 pb-6 mt-5
            bg-white rounded-lg shadow-md
            text-black
            w-96 #md:w-1/2
            ">
                <ul>
                    <% @tags.each do |tag| %>
                        <li class="rounded-xl bg-gray-100 mb-3 px-3 py-2">
                            <div class="flex flex-row justify-between items-center mb-1">
                                <div><%= number_to_percentage(tag["confidence"]) %></div>
                                <div><%= tag["tag"]["en"] %></div>
                            </div>
                            <div class="h-3 relative max-w-xl rounded-full overflow-hidden">
                                <div class="w-full h-full bg-gray-200 absolute"></div>
                                <div class="h-full bg-green-500 absolute" style="width:<%= number_to_percentage(tag["confidence"]) %>"></div>
                            </div>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    <% end %>
</div>