<p id="notice"><%= notice %></p>

<%= url_for @image.image_to_analyze %>

<br>

<%= @image.attachment_url %>

<br>

<%= @image.image_to_analyze.url %>

<br>

<%= @image.image_to_analyze.service_url %>

<br>

<%= rails_blob_path(@image.image_to_analyze) %>

<br>

<%= @image.image_to_analyze.blob.key %>

<br>

<%= @blob_path %>

<br>

<%# @image.image_on_disk %>


<%#= Base64.encode64(@image.image_to_analyze.download) %>

<br>

<% if @image.image_to_analyze.persisted? %>
    <% if @image.image_to_analyze.present? %>
        <%= image_tag(@image.image_to_analyze) %>
    <% end %>
<% end %>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
