<!DOCTYPE html>
<html>
  <head>
    <title>VisionX AI</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="
  flex flex-col
  bg-gray-100 h-screen
  ">
    <header class="sticky top-0 z-50 text-white">
      <%# navbar %>
      <div class="
      flex justify-between items-center
      h-16 px-24
      bg-gray-700 
      text-xl
      ">
        <ul class="flex items-center h-full">
          <%# logo %>
          <li class="cursor-pointer select-none mr-6 h-full">
            <a href="/" class="
            text-3xl
            flex items-center justify-center
            h-full
            hover:bg-gray-700 transition-all duration-200
            text-white
            ">
              <i class="fas fa-glasses mr-3"></i> VisionX
            </a>
          </li>
          
          <li class="h-full flex items-center justify-center">
            <a href="/" class="
            flex items-center justify-center
            h-full px-4 
            hover:bg-gray-600 transition-all duration-200
            ">
              Home
            </a>
          </li>

          <li class="h-full flex items-center justify-center">
            <a href=<%= categories_path %> class="
            flex items-center justify-center
            h-full px-4 
            hover:bg-gray-600 transition-all duration-200
            ">
              Classifiers
            </a>
          </li>

          <li class="h-full flex items-center justify-center">
            <a href=<%= categorize_path %> class="
            flex items-center justify-center
            h-full px-4 
            hover:bg-gray-600 transition-all duration-200
            ">
              Classify Image
            </a>
          </li>

          <li class="h-full flex items-center justify-center">
            <a href=<%= tags_path %> class="
            flex items-center justify-center
            h-full px-4 
            hover:bg-gray-600 transition-all duration-200
            ">
              Detect Concepts  
            </a>
          </li>

          <li class="h-full flex items-center justify-center">
            <a href=<%= detect_text_path %> class="
            flex items-center justify-center
            h-full px-4 
            hover:bg-gray-600 transition-all duration-200
            ">
              Detect Text  
            </a>
          </li>
        </ul>  
      </div>
    </header>
    
    <main class="
    flex flex-col
    flex-grow
    px-24 mt-9
    relative
    ">
      <%= yield %>
    </main>
  </body>
</html>
